.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.phantom-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
    justify-content: flex-start;
  }
}

.features-list__item {
  width: 100%;

  &::before {
    content: "";

    background-color: var(--background-second);
    background-size: 70px 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
  }

  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-top: 30px;

    &:not(:last-child) {
      // flex-basis: calc((100% - 2 * 30px) / 2);
      margin-right: 30px;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}

.group {
  &::before {
    background-image: url(../../img/icon-group.svg);
  }
}

.clock {
  &::before {
    background-image: url(../../img/icon-clock.svg);
  }
}

.diagram {
  &::before {
    background-image: url(../../img/icon-diagram.svg);
  }
}

.astronaut {
  &::before {
    background-image: url(../../img/icon-astronaut.svg);
  }
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.71;
  color: var(--main-text-color);
}
