.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;

  padding: 0;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
}

.logo {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  color: #000000;

  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}

.logo__web--style {
  color: var(--main-interactiv-color);
}

.menu {
  display: inline-flex;
  justify-content: space-between;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-left: 0px;
}

.menu__link {
  text-decoration: none;

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-interactiv-color);
    fill: var(--main-interactiv-color);
  }
}

.address__link {
  text-decoration: none;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:focus .address__icon-mail,
  &:hover .address__icon-mail,
  &:focus .address__icon-smartphone,
  &:hover .address__icon-smartphone {
    color: var(--main-interactiv-color);
    fill: var(--main-interactiv-color);
  }
}

.menu__link--active::after {
  content: "";
  display: flex;
  margin-top: 28px;
  margin-bottom: 0;
  padding: 0;
  border-radius: 2px;
  background-color: var(--main-interactiv-color);
  height: 4px;
  border: 2px solid var(--main-interactiv-color);
}

.menu__link {
  color: var(--main-title-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.address__link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  height: 16px;
}

.address__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.address__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.address__icon-mail,
.address__icon-smartphone {
  fill: var(--main-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-func);
}

@media screen and (max-width: 767px) {
  .header__hidden-mobile {
    display: none;
  }
}
