.main-section {
  background-color: var(--backgrount-footer);
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/mobile-hero.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: url(../../img/hero/mobile-hero@2x.jpg);
    }
  }

  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-size: 768px 400px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/hero/tablet-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main-section {
        background-image: url(../../img/hero/tablet-hero@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-size: 1600px 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/hero/desktop-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main-section {
        background-image: url(../../img/hero/desktop-hero@2x.jpg);
      }
    }
  }
}

.main-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-light-text);

  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-section__button {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--background-light-text);
  background-color: var(--main-interactiv-color);

  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}
