.permanent-section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.permanent-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-right: -30px;
}

.permanent-list__item {
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;

  &:not(:last-child) {
    flex-basis: calc((100% - 2 * 15px) / 2);
    margin-right: 15px;
  }

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
    margin-bottom: 30px;
    &:not(:last-child) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin-right: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-bottom: 0;
    &:not(:last-child) {
      flex-basis: calc((100% - 6 * 30px) / 6);
      margin-right: 30px;
    }
  }
}

.permanent-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  // - в макете 208px
  height: 88px;

  padding: 0;
  margin: 0;

  border: var(--icon-color) solid 1px;
  border-radius: 4px;

  transition-property: fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-func);

  &:hover .permanent-list__icon,
  &:focus .permanent-list__icon {
    fill: var(--main-interactiv-color);
  }

  &:focus,
  &:hover {
    border: var(--main-interactiv-color) solid 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 222px;
    height: 88px;
  }

  @media screen and (min-width: 1200px) {
    width: 168px;
    height: 88px;
  }
}

.permanent-list__icon {
  fill: var(--icon-color);
}
