@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

.what-we-do-section {
  padding-bottom: 94px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  padding-left: 0;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.what-we-do__item {
  position: relative;

  & {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.what-we-do__image {
  display: block;
}

.what-we-do__text {
  position: absolute;
  bottom: 0;

  transform: translate(-50% -50%);

  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-light-text);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 700;
}
